body
  :margin           0px
  :padding          0px
  :background-color #fff
  :color            #000
  :font-family			verdana, arial, helvetica, sans-serif
  :font-size				15px
  :line-height      18px

a
  :text-decoration  none
  :color            #0c0
  :font-weight			bold

a:visited
  :color						#5a5

a:hover
  :text-decoration  underline

.area
  :padding          2em
  :border           1px solid black


.errors
  :background-color  #eee
  :padding           3px
  :margin-top        1ex
  :margin-bottom     1ex
  :margin-left       25%
  :width             50%
  :border            1px solid #fdd

  a
    :color            red
    :font-style       italic
    :text-decoration  underline

  a:visited
    :color           #fe0

  ul
    li
      :font-weight     bold
      :color           red

.menu
  :background-color    #dfd
  :padding						 0px
  :margin              0px
  :width               100%
  :top                 0px
  :left                0px
