!!!
%html
  %head
    %title Capwn
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'main'
  %body
    .menu
      %ul
        %li= link_to 'Categories', categories_path
    .errors
      %ul
        %li 
          This is an error
          %a{:href=>"http://asdfdsfadasfd"} This is an error link!
          
    = yield
