.paths
  = link_to "Add New Account", new_account_path

%table.account
  - for i in 0...@accounts.length
    - if i % 2 == 0
      %tr.element
        %td.element{:span => "2"}
          %h1.element= @accounts[i]
    - else
      - accounts = @accounts[i]
      - accounts.each do |account|
        %tr.account
          %td.name= account.name
          %td.balance= currencize(account.initial_balance)
